body {
    background-image: url(https://i.pinimg.com/originals/86/c8/5d/86c85d088097b381f2db8900bfedf07b.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
body > * {
    color: white;
}
#search-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#searchbox {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
    outline: none;
    border: 0px;
    text-indent: 40px;
    font-size: 16px;
    margin: 30px 36px 0px 0px;
}
#search-icon {
    position: absolute;
    margin-right: 240px;
    height: 18px;
    margin-top: 30px;
}